<div class="user-cards-container">
  <mat-card *ngFor="let user of users" class="user-card">
    <mat-card-header>
      <mat-card-title>
        <span class="user-title">
          {{ user.name }}
          <button mat-icon-button class="edit-button" (click)="editName(user)">
            <mat-icon>edit</mat-icon>
          </button>
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let team of user.teams; let i = index" class="team-info">
        <mat-form-field appearance="outline">
          <mat-label>Команда</mat-label>
          <mat-select [value]="getClub(user.teams[i])" (selectionChange)="onTeamChange(user, i, $event.value)">
            <mat-option *ngFor="let team of allTeams" [disabled]="getAvailableTeams(team)" [value]="team">
              {{ team.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="navigation-buttons">
  <button mat-raised-button color="primary" (click)="goBack()">Назад</button>
  <button mat-raised-button color="primary" (click)="goNext()">Далее</button>
</div>
