/* match.component.css */
.circle-container {
    margin-bottom: 16px;
  }
  
  .circle-card {
    width: 100%;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .responsive-table {
    width: 100%;
    overflow-x: auto;
  }
  
  @media (max-width: 600px) {
    .mat-card-title {
      font-size: 14px;
    }
  
    th.mat-header-cell, td.mat-cell {
      padding: 8px 12px;
    }
  
    .buttons-container button {
      flex: 1;
      margin: 0 4px;
    }
  }
  